div.container
	h2 Rechercher une manifestation

	div.row(data-ng-hide="isModeGeolocation")
		div.col-lg-6.col-lg-offset-4
			div.input-group.btn-group(style="margin-top:20px")

				span.input-group-addon
					span.glyphicon.glyphicon-search

				div.input-group-btn(style="width:100%")
					input.form-control(type="text" placeholder="Rechercher" typeahead-editable="true" typeahead-on-select='onSelect($item)' ng-model="fulltext" typeahead="name as name.fullname for name in autocomplete($viewValue) | filter:{fullname:$viewValue} | limitTo:8")

				select.form-control(style="width:200px"  data-ng-change="onChangeRegion(region)" data-placeholder="Sélectionner..." data-ng-model="region" data-ng-options="region.value as getRegion(region.value) for region in listOfRegions")				
		div.col-lg-3.col-lg-offset-7(style="margin-top:10px")
			a(data-ng-click="switchSearchView(true)") Rechercher par géolocalisation

	div.row(data-ng-show="isModeGeolocation")
		div.col-lg-6.col-lg-offset-4
			form(role="form", name="form", novalidate)
				div.row
					div.col-lg-8
						div.form-group(data-ng-class="{'has-error': !form.location.$pristine && form.location.$error.validLocation && form.location.$invalid, 'has-success': !form.location.$pristine  && !form.location.$error.validLocation && form.location.$valid}")
							input.form-control(name="location" id="location" placeholder="Tapez une ville" data-ng-model="details.name" has-location required ng-autocomplete options="options" details="details")
							span.help-block(data-ng-show="form.location.$dirty && ( form.location.$error.required || form.location.$error.validLocation)")  Veuillez saisir une ville correcte
						div.row
							div.col-lg-6
								div.form-group
									div.checkbox
										label
											em Elargir aux alentours
											input(type="checkbox" ng-model="searchAround")
							div.col-lg-4
								div.form-group
									select(class="form-control" style="width:100px" ng-model="distance" ng-change="onChangeDistance()")
										option(value="15") 15km
										option(value="30") 30km
										option(value="50") 50km
										option(value="100") 100km
					div.col-lg-4
						div.form-group
							button.btn.btn-primary(type="submit" data-ng-click="search()"  data-ng-disabled="form.$invalid") Rechercher						
		div.col-lg-3.col-lg-offset-7(style="margin-top:10px")
			a(data-ng-click="switchSearchView(false)") Rechercher par mot-clés
	div.row
		div.col-lg-4
			h4 {{total}} <small>résultats</small>
	div.row
			div.col-lg-3
				div.well
					h4 Affiner la Recherche
					a(data-ng-click="onSelect('*')") Tout supprimer
					div.row
						div.col-lg-12
							span.label.label-primary(data-ng-repeat="type in currentTypeSelected")  {{type}} 
								span.glyphicon.glyphicon-remove(data-ng-click="toggleTypeSelection(type);onChange()")
						div.col-lg-12
							span.label.label-success(ng-repeat="department in departments") {{getDepartmentByCode(department)}} 
								span.glyphicon.glyphicon-remove(data-ng-click="toggleDepartmentSelection(department);onChange()")
						div.col-lg-12
							span.label.label-warning {{formatDateRange(dateRange)}} 
								span.glyphicon.glyphicon-remove(data-ng-click="resetDataRangeFilter();onChange()")
					h4 par Type
					div.checkbox(data-ng-repeat="facet in typeFacets")
						div(data-ng-switch="currentTypeSelected.indexOf(facet.term) > -1")
							div(data-ng-switch-when="false")
								label(data-ng-class="{'disabled': facet.count === 0}") {{getTypeByName(facet.term)}} ({{facet.count}})
								input(type="checkbox" 
								  data-ng-change="onChange()",
								  data-ng-model="facet.selected",
								  data-ng-checked="currentTypeSelected.indexOf(facet.term) > -1"
								  data-ng-click="toggleTypeSelection(facet.term)"
								  data-ng-true-value="true", 
								  data-ng-disabled="facet.count === 0",
								  data-ng-false-value="false")
							div(data-ng-switch-when="true")
								label <strong>{{getTypeByName(facet.term)}}</strong>
								input(type="checkbox" 
								  data-ng-change="onChange()",
								  data-ng-model="facet.selected",
								  data-ng-checked="currentTypeSelected.indexOf(facet.term) > -1"
								  data-ng-click="toggleTypeSelection(facet.term)"
								  data-ng-true-value="true", 
								  data-ng-disabled="facet.count === 0",
								  data-ng-false-value="false")
					div(data-ng-hide="region.name==='Toute la France'")
						h4 par Département
						div.checkbox(data-ng-repeat="facet in departmentFacets")
							div(data-ng-switch="departments.indexOf(facet.department.code) > -1")
								div(data-ng-switch-when="false")
									label(data-ng-class="{'disabled': facet.count === 0}") {{facet.department.code}} - {{facet.department.name}} ({{facet.count}})
									input(type="checkbox" 
									  data-ng-change="onChange()",
									  data-ng-model="facet.department.selected",
									  data-ng-checked="departments.indexOf(facet.department.code) > -1"
									  data-ng-click="toggleDepartmentSelection(facet.department.code)"
									  data-true-value="true", 
									  data-ng-disabled="facet.count === 0",
									  data-ng-false-value="false")
								div(data-ng-switch-when="true")
									label <strong>{{facet.department.code}} - {{facet.department.name}}</strong>
									input(type="checkbox" 
									  data-ng-change="onChange()",
									  data-ng-model="facet.deparment.selected",
									  data-ng-checked="departments.indexOf(facet.department.code) > -1"
									  data-ng-click="toggleDepartmentSelection(facet.department.code)"
									  data-ng-true-value="true", 
									  data-ng-disabled="facet.count === 0",
									  data-ng-false-value="false")
					h4 par Date
					div.input-group
						span.input-group-addon
							i.glyphicon.glyphicon-calendar
						input.form-control(type="daterange" min-date="{{datarangeConfig.minDate}}" max-date="{{datarangeConfig.maxDate}}" data-ng-model="dateRange" data-ng-change="onChange()" format="{{datarangeConfig.format}}" locale="{{datarangeConfig.locale}}" ranges="{{datarangeConfig.ranges}}")
			
			div.col-lg-9
				div.col-lg-3
					pre Page: {{currentPage}} / {{numPages}}
				div.col-lg-3.col-lg-offset-4
					select(class="form-control" style="width:150px" ng-model="sort" ng-change="onChangeSort()")
						option(value="_score") par pertinence
						option(value="race.date") par date
				div.col-lg-2
					select(class="form-control" style="width:80px" ng-model="pageSize" ng-change="onChangePageSize()")
						option(value="10") 10
						option(value="20") 20
						option(value="50") 50
				table.table.table-hover
					thead
						tr
							th(style="width: 40%;border:0; border-top: none;")
							th(style="width: 20%;border:0; border-top: none;")
							th(style="width: 20%;border:0; border-top: none;")
							th(style="width: 10%;border:0; border-top: none;")
							th(style="width: 30%;border:0; border-top: none;")
					tbody
						tr(data-ng-repeat="race in races")
							td(align="left")
								a(data-ng-href='/races/view/{{race.fields.partial1[0]._id}}') {{race.fields.partial1[0].name}}
							td(align="center") {{race.fields.partial1[0].type.i18n}}
							td(align="center") {{race.fields.partial1[0].department.code}} - {{race.fields.partial1[0].department.name}}
							td(align="center") {{race.fields.partial1[0].distanceType.name}}
							td(align="center") {{getDate(race.fields.partial1[0].date)}}
				div.col-lg-4.col-lg-offset-4
					span.label.label-default(data-ng-show="emptyResults") Aucun Résultats
				div.col-lg-6.col-lg-offset-4
					pagination(boundary-links="true" max-size="maxSize" num-pages="numPages" items-per-page="pageSize"  on-select-page="onSelectPage()" total-items="totalItems" page="currentPage" previous-text="<" next-text=">" first-text="<<" last-text=">>")
