div.container
	h2 Rechercher une manifestation

	div.row
		div.col-lg-4.col-lg-offset-4
			input.form-control(type="text" placeholder="Rechercher" typeahead-editable="true" typeahead-on-select='onSelect($item)' ng-model="selected" typeahead="names for names in autocomplete($viewValue) | filter:$viewValue | limitTo:8")
	div.row
		div.col-lg-4
			h4 {{total}} <small>résultats</small>
	div.row
			div.col-lg-4
				div.well
					h2 Affiner la Recherche

					h3 par Type
					div.checkbox(ng-repeat="facet in typeFacets")
						div(ng-switch="currentTypeSelected.indexOf(facet._id.name) > -1")
							div(ng-switch-when="false")
								label {{facet._id.name}} ({{facet.total}})
								input(type="checkbox" 
								  ng-change="onChange()",
								  ng-model="facet.selected",
								  ng-checked="currentTypeSelected.indexOf(facet._id.name) > -1"
								  ng-click="toggleSelection(facet._id.name)"
								  ng-true-value="true", 
								  ng-false-value="false")
							div(ng-switch-when="true")
								label <strong>{{facet._id.name}}</strong>
								input(type="checkbox" 
								  ng-change="onChange()",
								  ng-model="facet.selected",
								  ng-checked="currentTypeSelected.indexOf(facet._id.name) > -1"
								  ng-click="toggleSelection(facet._id.name)"
								  ng-true-value="true", 
								  ng-false-value="false")
					h3 par Département
					select(class="multiselect" data-ng-change="onChange()" data-placeholder="Sélectionner..." data-ng-model="departments" data-ng-options="department.value as getDepartment(department.value) for department in listOfDepartments" multiple="multiple" multiselect-dropdown)
					h3 par Date
					div.input-group
						span.input-group-addon
							i.glyphicon.glyphicon-calendar
						input.form-control(type="daterange" data-ng-model="dateRange" data-ng-change="onChange()" format="{{datarangeConfig.format}}" locale="{{datarangeConfig.locale}}" ranges="{{datarangeConfig.ranges}}")
			
			div.col-lg-8
				div.col-lg-3
					pre Page: {{currentPage}} / {{numPages}}
				div.col-lg-3.col-lg-offset-4
					select(class="form-control" style="width:150px" ng-model="sort" ng-change="onChangeSort()")
						option(value="_score") par pertinence
						option(value="race.date") par date
				div.col-lg-2
					select(class="form-control" style="width:80px" ng-model="pageSize" ng-change="onChangePageSize()")
						option(value="10") 10
						option(value="20") 20
						option(value="50") 50
				table.table.table-hover
					thead
						tr
							th(style="width: 40%;border:0; border-top: none;")
							th(style="width: 20%;border:0; border-top: none;")
							th(style="width: 10%;border:0; border-top: none;")
							th(style="width: 30%;border:0; border-top: none;")
					tbody
						tr(data-ng-repeat="race in races")
							td(align="left")
								a(data-ng-href='/races/view/{{race._id}}') {{race.name}}
							td(align="center") {{race.type.i18n}}
							td(align="center") {{race.distanceType.name}}
							td(align="center") {{getDate(race.date)}}
				div.col-lg-6.col-lg-offset-4
					span.label.label-default(data-ng-show="emptyResults") Aucun Résultats
				div.col-lg-6.col-lg-offset-4
					pagination(boundary-links="true" max-size="maxSize" num-pages="numPages" items-per-page="pageSize"  on-select-page="onSelectPage()" total-items="totalItems" page="currentPage" previous-text="<" next-text=">" first-text="<<" last-text=">>")
