div.container
	h2 Rechercher une manifestation

	div.row
		div.col-lg-6.col-lg-offset-4
			div.input-group.btn-group(style="margin-top:20px")

				span.input-group-addon
					span.glyphicon.glyphicon-search

				div.input-group-btn(style="width:100%")
					input.form-control(type="text" placeholder="Rechercher" typeahead-editable="true" typeahead-on-select='onSelect($item)' ng-model="fulltext" typeahead="name as name.fullname for name in autocomplete($viewValue) | filter:{fullname:$viewValue} | limitTo:8")

				select.form-control(style="width:200px"  data-ng-change="onChangeRegion(region)" data-placeholder="Sélectionner..." data-ng-model="region" data-ng-options="region.value as getRegion(region.value) for region in listOfRegions")
				//select(style="width:150px" class="multiselect" data-ng-change="onChange()" data-placeholder="Sélectionner..." data-ng-model="regions" data-ng-options="region.value as getRegion(region.value) for region in listOfRegions" multiple="multiple" multiselect-dropdown)
				//select(class="multiselect" data-ng-change="onChange()" data-placeholder="Sélectionner..." data-ng-model="departments" data-ng-options="department.value as getDepartment(department.value) group by department.value.region for department in listOfDepartments" multiple="multiple" multiselect-dropdown)

				

				
	div.row
		div.col-lg-4
			h4 {{total}} <small>résultats</small>
	div.row
			div.col-lg-3
				div.well
					h4 Affiner la Recherche
					a(data-ng-click="onSelect('*')") Tout supprimer
					div.row
						div.col-lg-12
							a(data-ng-click="toggleTypeSelection(type);onChange()" data-ng-repeat="type in currentTypeSelected") 
								span.label.label-primary {{type}}
						div.col-lg-12
							a(data-ng-click="toggleDepartmentSelection(department);onChange()" ng-repeat="department in departments") 
								span.label.label-success {{getDepartment(department)}}
						div.col-lg-12
							a(data-ng-click="resetDataRangeFilter();onChange()") 
								span.label.label-warning {{formatDateRange(dateRange)}}
					h4 par Type
					div.checkbox(data-ng-repeat="facet in typeFacets")
						div(data-ng-switch="currentTypeSelected.indexOf(facet._id.name) > -1")
							div(data-ng-switch-when="false")
								label {{facet._id.name}} ({{facet.total}})
								input(type="checkbox" 
								  data-ng-change="onChange()",
								  data-ng-model="facet.selected",
								  data-ng-checked="currentTypeSelected.indexOf(facet._id.name) > -1"
								  data-ng-click="toggleTypeSelection(facet._id.name)"
								  vng-true-value="true", 
								  data-ng-false-value="false")
							div(data-ng-switch-when="true")
								label <strong>{{facet._id.name}}</strong>
								input(type="checkbox" 
								  data-ng-change="onChange()",
								  data-ng-model="facet.selected",
								  data-ng-checked="currentTypeSelected.indexOf(facet._id.name) > -1"
								  data-ng-click="toggleTypeSelection(facet._id.name)"
								  data-ng-true-value="true", 
								  data-ng-false-value="false")
					h4 par Département
					div.checkbox(data-ng-repeat="facet in departmentFacets")
						div(data-ng-switch="departments.indexOf(facet._id) > -1")
							div(data-ng-switch-when="false")
								label {{getDepartmentByCode(facet._id)}} ({{facet.total}})
								input(type="checkbox" 
								  data-ng-change="onChange()",
								  data-ng-model="facet.selected",
								  data-ng-checked="departments.indexOf(facet._id) > -1"
								  data-ng-click="toggleDepartmentSelection(facet._id)"
								  vng-true-value="true", 
								  data-ng-false-value="false")
							div(data-ng-switch-when="true")
								label <strong>{{getDepartmentByCode(facet._id)}}</strong>
								input(type="checkbox" 
								  data-ng-change="onChange()",
								  data-ng-model="facet.selected",
								  data-ng-checked="departments.indexOf(facet._id) > -1"
								  data-ng-click="toggleDepartmentSelection(facet._id)"
								  data-ng-true-value="true", 
								  data-ng-false-value="false")
					//select(class="multiselect" data-ng-change="onChange()" data-placeholder="Sélectionner..." data-ng-model="departments" data-ng-options="department.value as getDepartment(department.value) for department in listOfDepartments" multiple="multiple" multiselect-dropdown)
					h4 par Date
					div.input-group
						span.input-group-addon
							i.glyphicon.glyphicon-calendar
						input.form-control(type="daterange" min-date="{{datarangeConfig.minDate}}" max-date="{{datarangeConfig.maxDate}}" data-ng-model="dateRange" data-ng-change="onChange()" format="{{datarangeConfig.format}}" locale="{{datarangeConfig.locale}}" ranges="{{datarangeConfig.ranges}}")
			
			div.col-lg-9
				div.col-lg-3
					pre Page: {{currentPage}} / {{numPages}}
				div.col-lg-3.col-lg-offset-4
					select(class="form-control" style="width:150px" ng-model="sort" ng-change="onChangeSort()")
						option(value="_score") par pertinence
						option(value="race.date") par date
				div.col-lg-2
					select(class="form-control" style="width:80px" ng-model="pageSize" ng-change="onChangePageSize()")
						option(value="10") 10
						option(value="20") 20
						option(value="50") 50
				table.table.table-hover
					thead
						tr
							th(style="width: 40%;border:0; border-top: none;")
							th(style="width: 20%;border:0; border-top: none;")
							th(style="width: 20%;border:0; border-top: none;")
							th(style="width: 10%;border:0; border-top: none;")
							th(style="width: 30%;border:0; border-top: none;")
					tbody
						tr(data-ng-repeat="race in races")
							td(align="left")
								a(data-ng-href='/races/view/{{race._id}}') {{race.name}}
							td(align="center") {{race.type.i18n}}
							td(align="center") {{race.department.code}} - {{race.department.name}}
							td(align="center") {{race.distanceType.name}}
							td(align="center") {{getDate(race.date)}}
				div.col-lg-6.col-lg-offset-4
					span.label.label-default(data-ng-show="emptyResults") Aucun Résultats
				div.col-lg-6.col-lg-offset-4
					pagination(boundary-links="true" max-size="maxSize" num-pages="numPages" items-per-page="pageSize"  on-select-page="onSelectPage()" total-items="totalItems" page="currentPage" previous-text="<" next-text=">" first-text="<<" last-text=">>")
