div.container
	div.bs-callout.bs-callout-info
		h4 Infomations
		p Tous les champs  sont facultatifs. Tous les champs qui ne seront pas renseigné n'apparaitront pas dans la vue finale.
	tabset(vertical="false" type="pills")
		tab(heading=t("race.timing"))
			div.row
				div.col-lg-8
					form.form-horizontal(name="form1" role="form" style="margin-top:10px")
						div.form-group
							label.col-lg-4.control-label=t("race.startingTime")
							div.col-lg-4
								div(class="dropdown")
									a(class="dropdown-toggle my-toggle-select" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#")
										div(class="input-group")
											input.form-control(name="startingTime" type="text" data-ng-model="race.timing.startingTime" data-date-time-input="HH:mm" placeholder=t("race.startingTime"))
											span.input-group-addon
												i.glyphicon.glyphicon-time
									ul(class="dropdown-menu" role="menu" aria-labelledby="dLabel")
										datetimepicker(data-ng-model="race.timing.startingTime"  data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select', startView:'hour' }")
						div.form-group
							label.col-lg-4.control-label=t("race.briefingTime")
							div.col-lg-4
								div(class="dropdown")
									a(class="dropdown-toggle my-toggle-select" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#")
										div(class="input-group")
											input.form-control(name="briefingTime" type="text" data-ng-model="race.timing.briefingTime" data-date-time-input="HH:mm" placeholder=t("race.briefingTime"))
											span.input-group-addon
												i.glyphicon.glyphicon-time
									ul(class="dropdown-menu" role="menu" aria-labelledby="dLabel")
										datetimepicker(data-ng-model="race.timing.briefingTime"  data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select', startView:'hour' }")
						div.form-group
							label.col-lg-4.control-label=t("race.checkoutBibTime")
							div.col-lg-4
								div(class="dropdown")
									a(class="dropdown-toggle my-toggle-select" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#")
										div(class="input-group")
											input.form-control(name="checkoutBibTime" type="text" data-ng-model="race.timing.checkoutBibTime" data-date-time-input="HH:mm" placeholder=t("race.checkoutBibTime"))
											span.input-group-addon
												i.glyphicon.glyphicon-time
									ul(class="dropdown-menu" role="menu" aria-labelledby="dLabel")
										datetimepicker(data-ng-model="race.timing.checkoutBibTime"  data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select', startView:'hour' }")
						div.form-group
							label.col-lg-4.control-label=t("race.rewardsTime")
							div.col-lg-4
								div(class="dropdown")
									a(class="dropdown-toggle my-toggle-select" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#")
										div(class="input-group")
											input.form-control(name="rewardsTime" type="text" data-ng-model="race.timing.rewardsTime" data-date-time-input="HH:mm" placeholder=t("race.rewardsTime"))
											span.input-group-addon
												i.glyphicon.glyphicon-time
									ul(class="dropdown-menu" role="menu" aria-labelledby="dLabel")
										datetimepicker(data-ng-model="race.timing.rewardsTime"  data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select', startView:'hour' }")
						div.form-group
							label.col-lg-4.control-label=t("race.moreInformation")
						div.col-lg-12(text-angular text-angular-name="demo1" data-ng-model="race.timing.timingMoreInformation" ta-toolbar-class="btn-toolbar" ta-toolbar-group-class="btn-group" ta-toolbar-button-class="btn btn-default btn-xs" ta-toolbar-button-active-class="active")
		tab(heading=t("race.pricing"))
			div.row
				div.col-lg-8
					form.form-horizontal(name="form2" role="form" style="margin-top:10px")
						div.form-group
							label.col-lg-4.control-label=t("race.memberFFPrice")
							div.col-lg-2(class="input-group")
								input.form-control(name="memberFFPrice" type="number" data-ng-model="race.pricing.memberFFPrice")
								span.input-group-addon
									i.fa.fa-eur
						div.form-group
							label.col-lg-4.control-label=t("race.notMemberFFPrice")
							div.col-lg-2(class="input-group")
								input.form-control(name="notMemberFFPrice" type="number" data-ng-model="race.pricing.notMemberFFPrice")
								span.input-group-addon
									i.fa.fa-eur
						div.form-group
							label.col-lg-4.control-label=t("race.moreInformation")
						div.col-lg-12(text-angular text-angular-name="demo1" data-ng-model="race.pricing.pricingMoreInformation" ta-toolbar-class="btn-toolbar" ta-toolbar-group-class="btn-group" ta-toolbar-button-class="btn btn-default btn-xs" ta-toolbar-button-active-class="active")
		tab(heading=t("race.registration"))
			div.row
				div.col-lg-12
					form.form-horizontal(name="form3" role="form" style="margin-top:10px")
						div.form-group
							label.col-lg-4.control-label=t("race.registrationOpeningDate")
							div.col-lg-3
								div(class="dropdown")
									a(class="dropdown-toggle my-toggle-select" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#")
										div(class="input-group")
											input.form-control(type="text" data-ng-model="race.registration.registrationOpeningDate" data-date-time-input="DD-MM-YYYY HH:MM" placeholder=t("race.registrationOpeningDate"))
											span.input-group-addon
												i.glyphicon.glyphicon-time
									ul(class="dropdown-menu" role="menu" aria-labelledby="dLabel")
										datetimepicker(data-ng-model="race.registration.registrationOpeningDate" data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select', startView:'month', minView:'minute' }")
						div.form-group
							label.col-lg-4.control-label=t("race.registrationLimitDate")
							div.col-lg-3
								div(class="dropdown")
									a(class="dropdown-toggle my-toggle-select" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#")
										div(class="input-group")
											input.form-control(type="text" data-ng-model="race.registration.registrationLimitDate" data-date-time-input="DD-MM-YYYY HH:MM" placeholder=t("race.registrationLimitDate"))
											span.input-group-addon
												i.glyphicon.glyphicon-time
									ul(class="dropdown-menu" role="menu" aria-labelledby="dLabel")
										datetimepicker(data-ng-model="race.registration.registrationLimitDate"  data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select', startView:'month', minView:'minute' }")
						div.form-group
							label.col-lg-4.control-label=t("race.registrationWebSite")
							div.col-lg-6
								input.form-control(name="registrationWebSite" data-ng-model="race.registration.registrationWebSite" placeholder=t("race.registrationWebSite"))
						div.form-group
							label.col-lg-4.control-label=t("race.registrationAddress")
							div.col-lg-6
								textarea.form-control(name="registrationAddress" rows="5" data-ng-model="race.registration.registrationAddress" placeholder=t("race.registrationAddress"))
						div.form-group
							label.col-lg-4.control-label=t("race.registrationOnPlace")
							div.col-lg-6
								label.radio-inline
									input(type="radio",name="radioGroup", data-ng-model="race.registration.registrationOnPlace", value="oui")
									span=t("common.yes")
								label.radio-inline
									input(type="radio",name="radioGroup", data-ng-model="race.registration.registrationOnPlace", value="non")
									span=t("common.no")
						div.form-group
							label.col-lg-4.control-label=t("race.numberOfPlacesAvailable")
							div.col-lg-2(class="input-group")
								input.form-control(name="numberOfPlacesAvailable" type="number" data-ng-model="race.registration.numberOfPlacesAvailable")
								span.input-group-addon=t("race.places")
						div.form-group
							label.col-lg-4.control-label=t("race.moreInformation")
						div.col-lg-8(text-angular text-angular-name="demo1" data-ng-model="race.registration.registrationMoreInformation" ta-toolbar-class="btn-toolbar" ta-toolbar-group-class="btn-group" ta-toolbar-button-class="btn btn-default btn-xs" ta-toolbar-button-active-class="active")
		tab(heading=t("race.plan"))
			div.row
				div.col-lg-8
					form.form-horizontal(name="form4" role="form" style="margin-top:10px")
						div.form-group
							label.col-lg-4.control-label=t("race.address")
							div.col-lg-8
								input.form-control(name="address1" data-ng-model="race.plan.address.address1" placeholder=t("race.address"))
						div.form-group
							label.col-lg-4.control-label
							div.col-lg-8
								input.form-control(name="address2" data-ng-model="race.plan.address.address2" placeholder=t("race.moreAddress"))
						div.form-group
							label.col-lg-4.control-label=t("race.postcode")
							div.col-lg-8
								input.form-control(name="postcode" data-ng-model="race.plan.address.postcode" placeholder=t("race.postcode"))
						div.form-group
							label.col-lg-4.control-label=t("race.city")
							div.col-lg-8
								input.form-control(name="city" data-ng-model="race.plan.address.city" placeholder=t("race.city"))
						div.form-group
							label.col-lg-4.control-label=t("race.moreInformation")
						div.col-lg-12(text-angular text-angular-name="demo1" data-ng-model="race.plan.planMoreInformation" ta-toolbar-class="btn-toolbar" ta-toolbar-group-class="btn-group" ta-toolbar-button-class="btn btn-default btn-xs" ta-toolbar-button-active-class="active")
		tab(heading=t("race.rights"))
			div.row
				div.col-lg-10
					form.form-horizontal(name="form5" role="form" style="margin-top:10px")
						div.form-group
							div.col-lg-12(text-angular text-angular-name="demo1" data-ng-model="race.rights.rightsMoreInformation" ta-toolbar-class="btn-toolbar" ta-toolbar-group-class="btn-group" ta-toolbar-button-class="btn btn-default btn-xs" ta-toolbar-button-active-class="active")
		tab(heading=t("race.therace"))
			div.row
				div.col-lg-8
					form.form-horizontal(name="form6" role="form" style="margin-top:10px")
						div.form-group
							label.col-lg-4.control-label=t("race.numberOfProvisions")
							div.col-lg-2
								input.form-control(name="numberOfProvisions" type="number" data-ng-model="race.therace.numberOfProvisions")
						div.form-group
							label.col-lg-4.control-label=t("race.moreInformation")
						div.col-lg-12(text-angular text-angular-name="demo1" data-ng-model="race.therace.theRaceMoreInformation" ta-toolbar-class="btn-toolbar" ta-toolbar-group-class="btn-group" ta-toolbar-button-class="btn btn-default btn-xs" ta-toolbar-button-active-class="active")
		tab(heading=t("race.miscellaneous"))
			div.row
				div.col-lg-8
					form.form-horizontal(name="form7" role="form" style="margin-top:10px")
						div.form-group
							label.col-lg-4.control-label=t("race.organizerWebSite")
							div.col-lg-8
								input.form-control(name="organizerWebSite" data-ng-model="race.organizerWebSite" placeholder=t("race.organizerWebSite"))
						div.form-group
							label.col-lg-4.control-label=t("race.moreInformation")
						div.col-lg-12(text-angular text-angular-name="demo1" data-ng-model="race.miscellaneous.miscellaneousMoreInformation" ta-toolbar-class="btn-toolbar" ta-toolbar-group-class="btn-group" ta-toolbar-button-class="btn btn-default btn-xs" ta-toolbar-button-active-class="active")