div.container
	tabset(vertical="false" type="pills")
		tab(heading=t("race.timing"))
			div.container
				dl.dl-horizontal
					dt=t("race.startingTime")
					dd {{getHour(race.timing.startingTime)}}
					dt=t("race.briefingTime")
					dd {{getHour(race.timing.briefingTime)}}
					dt=t("race.checkoutBibTime")
					dd {{getHour(race.timing.checkoutBibTime)}}
					dt=t("race.rewardsTime")
					dd {{getHour(race.timing.rewardsTime)}}
				div.well(data-ng-bind-html="race.timing.timingMoreInformation")
		tab(heading=t("race.pricing"))
			div.container
				dl.dl-horizontal
					dt=t("race.memberFFPrice")
					dd {{race.pricing.memberFFPrice}}
						i.fa.fa-eur
					dt=t("race.notMemberFFPrice")
					dd {{race.pricing.notMemberFFPrice}}
						i.fa.fa-eur
				dl(data-ng-if="race.pricing.pricingMoreInformation")
					dt=t("race.moreInformation")
					dd {{race.pricing.pricingMoreInformation}}
		tab(heading=t("race.registration"))
			div.container
				div.row
					div.col-lg-4
						table.table.table-hover
							thead
								tr
									th(style="width: 50%;border:0; border-top: none;")
									th(style="width: 50%;border:0; border-top: none;")
							tbody
								tr
									td(align="left" style="border:0; border-top: none;")<strong>=t("race.registrationOpeningDate")</strong>
									td(align="left" style="border:0; border-top: none;") {{getDate(race.registration.registrationOpeningDate)}}
								tr
									td(align="left" style="border:0; border-top: none;")=t("race.registrationLimitDate")
									td(align="left" style="border:0; border-top: none;") {{getDate(race.registration.registrationLimitDate)}}
								tr
									td(align="left" style="border:0; border-top: none;")=t("race.registrationWebSite")
									td(align="left" style="border:0; border-top: none;") {{race.registration.registrationWebSite}}
								tr
									td(align="left" style="border:0; border-top: none;")=t("race.registrationAddress")
									td(align="left" style="border:0; border-top: none;") {{race.registration.registrationAddress}}
								tr
									td(align="left" style="border:0; border-top: none;")=t("race.registrationOnPlace")
									td(align="left" style="border:0; border-top: none;") {{race.registration.registrationOnPlace}}
								tr
									td(align="left" style="border:0; border-top: none;")=t("race.numberOfPlacesAvailable")
									td(align="left" style="border:0; border-top: none;") {{race.registration.numberOfPlacesAvailable}}
				div.well(data-ng-bind-html="race.registration.registrationMoreInformation")

		tab(data-ng-click="onChangeOrganisationTab()" heading=t("race.plan"))
			div.container
				div.row(style="margin-top:20px")
					div.col-lg-4(data-ng-if="race.plan != null && race.plan.address")
						address 
							span {{race.plan.address.address1}}
							br
							span(data-ng-if="race.plan.address.address2 != ''") {{race.plan.address.address2}}
							br(data-ng-if="race.plan.address.address2 != ''")
							span <strong>{{race.plan.address.postcode}} - {{race.plan.address.city}}</strong>
							br
						dl(data-ng-if="race.plan.planMoreInformation")
							dt=t("race.moreInformation")
							dd {{race.plan.planMoreInformation}}
					div.col-lg-4(data-ng-if="isVisible")
						gm-map(gm-map-id="'mapPlan'" gm-center="center" gm-zoom="zoom" gm-map-options="options.map" style="width:250px;height:250px" )
							gm-markers(gm-objects="addressMarkers" gm-id="object.id" gm-position="{lat: object.location.lat, lng: object.location.lng}")
		tab(heading=t("race.rights"))
			div.container
			div.well(data-ng-bind-html="race.rights.rightsMoreInformation")
		tab(heading=t("race.therace"))
			div.container
				div.row
					div.col-lg-4
						table.table
							thead
								tr
									th(style="width: 50%;border:0; border-top: none;")
									th(style="width: 50%;border:0; border-top: none;")
							tbody
								tr
									td(align="left" style="border:0; border-top: none;")=t("race.numberOfProvisions")
									td(align="left" style="border:0; border-top: none;") {{race.therace.numberOfProvisions}}
				div.well(data-ng-bind-html="race.therace.theRaceMoreInformation")
		tab(heading=t("race.miscellaneous"))
			div.container
				div.row
					div.col-lg-4
						table.table
							thead
								tr
									th(style="width: 50%;border:0; border-top: none;" )
									th(style="width: 50%;border:0; border-top: none;")
							tbody
								tr
									td(align="left" style="border:0; border-top: none;")=t("race.organizerWebSite")
									td(align="left" style="border:0; border-top: none;") {{race.organizerWebSite}}
				div.well(data-ng-bind-html="race.miscellaneous.miscellaneousMoreInformation")